@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="row">
       <div class="col-sm-6">
           <h1 class="display-4">Welcome to Video Game Collections</h1>
           <p class="display-6">Here are my favorite video games!</p>
           <p style="font-size:inherit.5em">(They are all a 10/10)</p>
       </div>
       <div class="col-sm-6">
           <img src="images/game.jpg" />
       </div>
   </div>
</div>
